@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 18px;
  font-family: var(--font-raleway);
}
p {
  font-size: 18px;
  font-family: var(--font-raleway);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.raleway {
  font-family: var(--font-raleway);
}
.choose-sec span {
  font-family: var(--font-raleway);
  font-size: 18px;
  color: #3b3b3b;
}
.seller h3 {
  font-family: var(--font-raleway);
  font-size: 18px;
}
.choose-sec {
  background: url("/images/BG-why-choose-us.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: left center;
}
.hero p {
  font-family: var(--font-raleway);
}
.hero button {
  font-family: var(--font-raleway);
}
.cm h2 {
  color: #013773;
  font-size: 38px;
  font-weight: 900;
  font-family: var(--font-minion);
}
.cm h2, .hero h1,
.seller h2 {
  font-family: var(--font-minion);
}

.bg-topcenter {
  background-position: top center;
}

.hero h1 {    text-transform: uppercase;}


/* responsive */
@media (min-width: 640px) { 
  .common_outerBanner__skUp9{
   
  }
  .outerBanner{

  }
 }

 @media (min-width: 768px) { 
  .common_outerBanner__skUp9{
   
  }
  .outerBanner{}
  }
  @media (min-width: 1024px) { 

   }

   @media (min-width: 1280px) { 

   }
   @media (min-width: 1536px) {  }